@import "../../variables";

.dropdown {
    position: relative;
    display: block;
    z-index: 10;
    width: 155px;

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    .clock-icon {
        margin-right: 5px;
        margin-top: -2px;
    }

    .arrow-icon {
        margin-left: 8px;

        &--down {
            transform: rotate(180deg);
        }
    }

    .options {
        width: 235px;
        position: absolute;
        top: 32px;
        right: 0;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: #0F0F0F;
        box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        padding: 16px;

        &__title {
            color: $white-disabled;
            font-size: 14px;
            text-align: left;
        }

        &__list {
            margin-top: 12px;
        }

        .option {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 8px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            &:last-child {
                border-bottom: none;
            }

            &__text {
                color: $white;
            }

            &__link {
                color: $blue;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}

.options.entering {
    animation: fadeIn 0.3s forwards;
}
.options.exiting {
    animation: fadeIn 0.3s reverse;
}
