.history-page {
    &__content {
        text-align: left;
    }

    &__table {
        margin-top: 32px;
        box-sizing: border-box;
        width: auto;
        max-width: 100%;
    }

    &__table-loader {
        display: flex;
        justify-content: center;

        .loader {
            margin-top: 35px;
        }
    }

    &__table-wrapper {
        overflow: hidden;
        width: 100%;
    }

    &__title-wrapper {
        display: flex;
        align-items: flex-end;

        span {
            color: rgba(255, 255, 255, 0.7);
            font-size: 28px;
            margin-bottom: 5px;
            margin-left: 30px;
        }
    }

    .table-row {
        padding-top: 12px;
        padding-bottom: 12px;
        cursor: pointer;
        border-bottom: none;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;

        &::before {
            content: url("../../../../public/images/arrow-down.svg");
            position: absolute;
            left: 10px;
        }
    }

    .table-row--opend {
        &::before {
            content: url("../../../../public/images/arrow-down.svg");
            position: absolute;
            left: 10px;
            transform: rotate(180deg);
        }
    }

    .table-body {
        max-height: 550px;
    }

    .rounds,
    .games {
        margin-top: 0;
    }

    .games {
        .table-row {
            &::before {
                content: "";
            }
        }
    }

    .table-cell--array {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 4px;
        column-gap: 5px;
    }

    .table-cell__item {
        margin-right: 5px;
    }

    .table-cell {
        padding-left: 25px;
    }

    .table-head__name,
    .table-cell {
        &:nth-child(1) {
            width: 25%;
            margin-left: 20px;
        }
        &:nth-child(2) {
            width: 50%;
            margin-right: 10px;
        }
        &:nth-child(3) {
            width: 20%;
            margin-right: 10px;
        }
    }

    .games {
        .table-head__name,
        .table-cell {
            &:nth-child(1) {
                width: 27%;
            }
            &:nth-child(2) {
                width: 30%;
                margin-right: 10px;
            }
            &:nth-child(3) {
                width: 20%;
                margin-right: 10px;
            }
            &:nth-child(4) {
                width: 20%;
                margin-right: 10px;
            }
        }
    }

    &__not-found-text {
        margin-top: 40px;
        text-align: center;
        font-size: 24px;
    }

    &__to-stat-button {
        margin-right: 16px;
    }

    .history-page__table-link {
        cursor: pointer;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 1px;
            background-color: #fff;
        }
    }

    .table-row--accent {
        .history-page__table-link {
            cursor: pointer;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 1px;
                background-color: #f5c826;
            }
        }
    }

    &__game-result {
        &--draw {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: #f5c826;
        }
        &--win {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: #42932e;
        }
        &--defeat {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: #da1e29;
        }
    }

    &__table-no-results {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
}
