@font-face {
    font-family: 'Proba Pro Lt';
    src: url('/public/fonts/Proba-Pro/ProbaPro-Light.eot');
    src: local('Proba Pro Light'), local('ProbaPro-Light'),
        url('/public/fonts/Proba-Pro/ProbaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-Light.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-Light.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proba Pro SmBd';
    src: url('/public/fonts/Proba-Pro/ProbaPro-SemiBoldItalic.eot');
    src: local('Proba Pro SemiBold Italic'), local('ProbaPro-SemiBoldItalic'),
        url('/public/fonts/Proba-Pro/ProbaPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-SemiBoldItalic.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-SemiBoldItalic.woff') format('woff'),
        url('//public/fonts/Proba-Pro/ProbaPro-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proba Pro ExLt';
    src: url('/public/fonts/Proba-Pro/ProbaPro-ExtraLight.eot');
    src: local('Proba Pro ExtraLight'), local('ProbaPro-ExtraLight'),
        url('/public/fonts/Proba-Pro/ProbaPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-ExtraLight.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-ExtraLight.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Proba Pro';
    src: url('/public/fonts/Proba-Pro/ProbaPro-Bold.eot');
    src: local('Proba Pro Bold'), local('ProbaPro-Bold'),
        url('/public/fonts/Proba-Pro/ProbaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-Bold.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-Bold.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proba Pro Md';
    src: url('/public/fonts/Proba-Pro/ProbaPro-Medium.eot');
    src: local('Proba Pro Medium'), local('ProbaPro-Medium'),
        url('/public/fonts/Proba-Pro/ProbaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-Medium.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-Medium.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proba Pro Th';
    src: url('/public/fonts/Proba-Pro/ProbaPro-Thin.eot');
    src: local('Proba Pro Thin'), local('ProbaPro-Thin'),
        url('/public/fonts/Proba-Pro/ProbaPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-Thin.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-Thin.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proba Pro ExLt';
    src: url('/public/fonts/Proba-Pro/ProbaPro-ExtraLightItalic.eot');
    src: local('Proba Pro ExtraLight Italic'), local('ProbaPro-ExtraLightItalic'),
        url('/public/fonts/Proba-Pro/ProbaPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-ExtraLightItalic.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-ExtraLightItalic.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Proba Pro SmBd';
    src: url('/public/fonts/Proba-Pro/ProbaPro-SemiBold.eot');
    src: local('Proba Pro SemiBold'), local('ProbaPro-SemiBold'),
        url('/public/fonts/Proba-Pro/ProbaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-SemiBold.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-SemiBold.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proba Pro Md';
    src: url('/public/fonts/Proba-Pro/ProbaPro-MediumItalic.eot');
    src: local('Proba Pro Medium Italic'), local('ProbaPro-MediumItalic'),
        url('/public/fonts/Proba-Pro/ProbaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-MediumItalic.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-MediumItalic.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Proba Pro';
    src: url('/public/fonts/Proba-Pro/ProbaPro-BoldItalic.eot');
    src: local('Proba Pro Bold Italic'), local('ProbaPro-BoldItalic'),
        url('/public/fonts/Proba-Pro/ProbaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-BoldItalic.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-BoldItalic.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proba Pro Lt';
    src: url('/public/fonts/Proba-Pro/ProbaPro-LightItalic.eot');
    src: local('Proba Pro Light Italic'), local('ProbaPro-LightItalic'),
        url('/public/fonts/Proba-Pro/ProbaPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-LightItalic.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-LightItalic.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proba Pro Th';
    src: url('/public/fonts/Proba-Pro/ProbaPro-ThinItalic.eot');
    src: local('Proba Pro Thin Italic'), local('ProbaPro-ThinItalic'),
        url('/public/fonts/Proba-Pro/ProbaPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-ThinItalic.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-ThinItalic.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Proba Pro';
    src: url('/public/fonts/Proba-Pro/ProbaPro-Regular.eot');
    src: local('Proba Pro Regular'), local('ProbaPro-Regular'),
        url('/public/fonts/Proba-Pro/ProbaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-Regular.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-Regular.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proba Pro';
    src: url('/public/fonts/Proba-Pro/ProbaPro-Italic.eot');
    src: local('Proba Pro Italic'), local('ProbaPro-Italic'),
        url('/public/fonts/Proba-Pro/ProbaPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Proba-Pro/ProbaPro-Italic.woff2') format('woff2'),
        url('/public/fonts/Proba-Pro/ProbaPro-Italic.woff') format('woff'),
        url('/public/fonts/Proba-Pro/ProbaPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

