.avatarImageWrapper {
  border-radius: 16px;
  position: relative;
}

.avatarImage {
  border-radius: 16px;
  position: relative;
}

.selectedImage {
  border: 3px solid rgb(221, 220, 252);
}

.avatarImageWrapper:after {
  position: absolute;
  content: '';
  top: 7px;
  right: 7px;
  width: 16px;
  height: 16px;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 2px solid var(--dark-grey);
}

.selectedImageWrapper:after {
  position: absolute;
  content: '';
  top: 7px;
  right: 7px;
  width: 16px;
  height: 16px;
  background-color: var(--white-color);
  border-radius: 50%;
  /*border: 2px solid var(--dark-grey)*/
  border: 5px solid var(--primary-color);
}
