@import "../../variables";

.finalists {
    &-info {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 48px;
        @media screen and (max-width: 680px) {
            flex-direction: column;
        }
    }

   
}

.finalists-page {
    &__button-wrapper {
        display: flex;
        margin-top: 24px;
        justify-content: flex-end;
    } 
}