.general-statistics {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-top: 50px;
    justify-content: center;
    //z-index: 10;
    @media screen and (max-width: 1050px) {
        flex-direction: column;
        width: 100%;
    }

    &__column {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        @media screen and (max-width: 1050px) {
            margin-top: 40px;
            margin-right: 0;
            &:nth-child(2) {
                margin-top: 40px;
            }
        }
    }
}
