@import "../../variables";

.stat {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    justify-content: space-between;
    padding-bottom: 8px;
    line-height: 140%;
    margin-top: 10px;
    vertical-align: center;

    @media screen and (max-width: 1050px) {
        margin-top: 12px;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        border-bottom: none;
    }

    &__name {
        color: $white-semitransparent;
        font-size: 16px;
        text-align: left;
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__value {
        font-size: 24px;
        font-weight: 700;
        color: $white;
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: end;
    }

}
