.profileCard {
  background: var(--white-color-5);
  border-radius: var(--bd-radius-12);
  padding: var(--space-12);
  display: grid;
  grid-template-columns: 64px 1fr fit-content(100%);
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.imagePlaceholder {
  width: 64px;
  height: 64px;
  background-color: var(--primary-color);
  border-radius: var(--bd-radius-12);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontSize-12);
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}

.imagePlaceholderText {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profileImg {
  width: 64px;
  height: 64px;
  margin-right: var(--space-18);
  position: relative;
  min-width: 64px;
  min-height: 64px;
}

.profileImg img {
  width: 100%;
  height: 100%;
  border-radius: var(--bd-radius-12);
  object-fit: cover;
}

.profileImgOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  border-radius: var(--bd-radius-12);

}

.profileInfo {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.walletAddress {
  line-height: var(--lineHeight-24);
  color: var(--dark-grey);
}

.points {
  height: 32px;
  display: flex;
  padding: var(--space-8);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-grey);
  border-radius: var(--bd-radius-12);
}

.points span {
  margin-left: var(--space-6);
}
