@import "../../variables.scss";

.team-rules {
    color: $white-semitransparent;
    &__header {
        color: $white;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 16px;
    }
    &__text {
        margin-top: 16px;
        &:first-child {
            margin-top: 0;
        }

        &--warning {
            color: yellow;
            font-family: 'Proba Pro Md';
            font-weight: 500;
        }
    }

    &__code-title {
        color: $white-disabled;
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 4px;
        display: block;
    }

    &__code {
        padding: 10px 12px;
        font-family: "Proba Pro";
    }

    pre {
        background-color: rgba(255, 255, 255, 0.04);
        font-size: 14px;
        @include semi-transparent-border();
        border-radius: 6px;
        padding: 10px 12px;
        line-height: 15.4px;
        @media screen and (max-width: 1150px) {
            font-size: 12px;
        }
    }
}
