@import "../../variables";

.game-starting-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        font-size: 32px;
        font-weight: 600;
        color: $white;
    }

    &__text {
        font-size: 16px;
        color: $white-semitransparent;
        margin-top: 8px;
    }

    &__buttons-group {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
    }

    &__button {
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
    }
}
