@import "../../variables";
@import "../../components/animation.scss";

.users-page {
    background-size: cover;
    display: flex;
    &__content {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        z-index: 5;
        @media screen and (max-width: 1100px) {
            flex-direction: column;
        }
    }
    &__heading-part {
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: left;
        margin-right: 20px;
        @media screen and (max-width: 1100px) {
            width: 100%;
            text-align: center;
        }
    }
    .users-page__game-starting-section {
        margin-top: 40px;

        @media screen and (max-width: 1100px) {
            width: 100%;
            align-items: center;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        position: relative;
        @media screen and (max-width: 1100px) {
            justify-content: center;
            margin-bottom: 20px;
        }

        .button {
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__table-part {
        width: 70%;
        text-align: left;
        z-index: 2;
        @media screen and (max-width: 1100px) {
            width: 100%;
        }
    }

    &__loader-container {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    &__table {
        margin-top: 32px;

        .table-head__name,
        .table-cell {
            &:nth-child(1) {
                width: 10%;
            }
            &:nth-child(2) {
                width: 30%;
            }
            &:nth-child(3) {
                width: 20%;
            }
            &:nth-child(4) {
                width: 20%;
            }
            &:nth-child(5) {
                width: 20%;
            }
        }
        &--small {
            .table-head__name,
            .table-cell {
                &:nth-child(1) {
                    width: 10%;
                }
                &:nth-child(2) {
                    width: 30%;
                }
                &:nth-child(3) {
                    width: 30%;
                }
                &:nth-child(4) {
                    width: 30%;
                }
            }
        }
    }

    &__navigation-link-wrapper {
        display: flex;
        z-index: 5;
        align-items: flex-end;
        flex: 1 1 0;
        margin-top: 24px;

        @media screen and (max-width: 1100px) {
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 40px;
        }
        .users-page__navigation-link {
            margin-right: 24px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__navigation-link {
        color: $blue;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        transition: 0.4s;

        &:hover {
            color: #143da5;
        }
    }

    .popup__title {
        font-weight: 600;
    }

    .table-body {
        max-height: 550px;
        &__empty {
            width: 100%;
            text-align: center;
            margin-top: 24px;
            font-size: 24px;
            color: $white;
        }
    }

    &__background-arrows {
        position: absolute;
        z-index: 1;
        bottom: -250px;
        left: -30px;
        width: 550px;
        img {
            opacity: .4;
            width: 100%;
        }
        @media screen and (max-width: 1100px) {
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__table-refresh {
        position: absolute;
        right: 85px;
    }

    &-table {
        &__points {
            display: flex;
            align-items: center;
            position: relative;

            &-image {
                margin-left: 5px;
                margin-bottom: 2px;
                width: 18px;
            }

            &-tooltip {
                position: absolute;
                bottom: 40px;
            }
        }
    }
}

.enter-code-popup {
    &__form {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        position: relative;
    }
    .popup__content {
        padding: 59px 110px;
        align-items: center;
    }
    &__input {
        width: 100%;
        margin-top: 32px;
    }
    &__button {
        margin-top: 24px;
        width: fit-content;
    }
    .input {
        width: 100%;
    }

    .loader-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(14, 14, 16, 0.85);;
    }
}

.enter-code-popup.entering {
    animation: fadeIn 0.3s forwards;
}
.enter-code-popup.exiting {
    animation: fadeIn 0.3s reverse;
}

.with-code-popup.entering {
    animation: fadeIn 0.3s forwards;
}
.with-code-popup.exiting {
    animation: fadeIn 0.3s reverse;
}
