.match {
  position: relative;
  cursor: pointer;
}

.matchImage {
  border-radius: 12px;
  width: 106px;
  height: 106px;
}

@media screen and (max-width: 700px) {
  .matchImage {
    min-width: 106px;
    min-height: 106px;
  }
}