@import "../animation.scss";

.table-body {
    padding: 0 24px;
    margin-top: 16px;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 23px;
    }
    &::-webkit-scrollbar {
        width: 4px;
    }

    &__show-more-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 16px 0 0;
    }

    &__show-more {
        cursor: pointer;
    }
}

.table-body.entering {
	animation: fadeIn .7s forwards;
}
.table-body.exiting {
	animation: fadeIn .7s reverse;
}
