@import "../variables.scss";

.common-rules {
    color: $white-semitransparent;
    width: 100%;
    &__header {
        color: $white;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 16px;
    }
    &__text {
        margin-top: 10px;
        span {
            color: #ffffff;
            font-weight: 600;
        }
        &:first-child {
            margin-top: 0px;
        }
    }
    &__image {
        width: 175px;
        height: 82px;
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
        &-container {
            margin-top: 16px;
        }
    }
    &__button {
        margin-top: 16px;
    }
}
