@import "../variables.scss";

.language-switcher {

    &__button {
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.35);
        cursor: pointer;

        &:hover {
            color: $white; 
        }

        &:nth-child(1) {
            border-right: 1px solid $white-disabled;
        }

        &--active {
            color: $white; 
        }
    }
   
}